Checks: >
  -*,
  bugprone-assert-side-effect,
  bugprone-copy-constructor-init,
  bugprone-dangling-handle,
  bugprone-fold-init-type,
  bugprone-infinite-loop,
  bugprone-macro-parentheses,
  bugprone-sizeof-expression,
  bugprone-suspicious-enum-usage,
  bugprone-suspicious-memory-comparison,
  bugprone-suspicious-memset-usage,
  bugprone-suspicious-missing-comma,
  bugprone-suspicious-realloc-usage,
  bugprone-suspicious-semicolon,
  bugprone-suspicious-string-compare,
  bugprone-swapped-parameters,
  bugprone-terminating-continue,
  bugprone-undefined-memory-manipulation,
  bugprone-unhandled-self-assignment,
  bugprone-use-after-move,
  bugprone-virtual-near-miss,
  performance-implicit-conversion-in-loop,
  performance-inefficient-vector-operation,
  performance-move-const-arg,
  performance-move-constructor-init,
  performance-noexcept-move-constructor,
  modernize-deprecated-headers,
  modernize-make-shared,
  modernize-make-unique,
  readability-redundant-string-cstr,
  cppcoreguidelines-macro-usage,
  cppcoreguidelines-narrowing-conversions
WarningsAsErrors: '*'
HeaderFilterRegex: '(chime|platform)/.*'
FormatStyle: file
