# Python
.env
.venv/
.venv*/
venv/
__pycache__/

# Yocto
yocto/build*/
yocto/**/tmp/
yocto/**/sstate-cache/
yocto/**/downloads/

# CMake
**/build/
**/build-arm/
chime/build-local/
chime/build-ci/

# General
*.log
logs/
**logs/

# Buildroot secrets
buildroot/board/raspberrypi0w/rootfs_overlay/etc/wpa_supplicant/wpa_supplicant.conf
buildroot/board/raspberrypi0w/rootfs_overlay/root/.ssh/authorized_keys

# Buildroot build output
buildroot/output/
buildroot/build_meta.env

# Local web UI artifacts
webui/node_modules/
webui/dist/
